body{
	background-color:#83b9ff;
}
.main{
	background-color:white;
	border-radius:20px;
	margin:0;
}

.main h2{
	padding-top: 10px;
	padding-bottom: 5px;
    margin-top: 0;
    margin-bottom: 0;
}
form{
	    padding: 10px;
}