.table li{
  border: 1px solid #000000;
  display: table-cell;
  vertical-align: middle;
  margin:20px;
}
.table{
	display: table;
	table-layout: fixed;
	text-align: center;
 	width: 60%;
 	padding:0px;
	
}
td.name{
	width:150px;
}
td.class{
	text-align:center;
}