body{
	color:#FFFFFF;
	background-image:url("img/blackboard.jpg");
	background-size:cover;
	background-attachment: fixed;
	background-position: center center;
}
.main{
	border-radius:20px;
	margin:0;
	padding:10px
}

.main h2{
	padding-top: 5px;
	padding-bottom: 5px;
    margin-top: 0;
    margin-bottom: 0;
}
.button{
	margin-left:40px;
	margin-right:40px;
}
